*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Pacifico', Arial, Helvetica, sans-serif;
    color: #0D0D0D;
}

header{
    height: 80px;
    background-color: #0D0D0D;
}

.header-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

header a{
    text-decoration: none;
    color: white;
}

.logo a{
    font-size: 2rem;
}

nav a{
    padding-left: 20px;
    font-size: 1.2rem;
}

nav a:hover{
    color: #8C703B;
}

.hamburger-button{
    display: none;
}

@media only screen and (max-width: 768px){
    header{
        height: 50px;
    }
    .header-container{
        padding-top: 10px;
    }
    .logo a{
        font-size: 1.5rem;
    }
    nav a{
        padding-left: 10px;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 480px){
    .header-container{
        padding-top: 10px;
    }
    .logo a{
    font-size: 1.2rem;
   }
   nav{
    display: none;
   }
  .hamburger-button{
    display: block;
    color: white;
    font-size: 25px;
  }

}

/*--Background Image--*/
.bg-image{
    height: 700px;
    background-image: url('/img/coffee.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-container{
    height: 700px;
    background-color: rgba(0, 0, 0, 0.577);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

}

.text-wrapper{
    width: 80%;
}

.text-wrapper h1{
    color: #a9720c;
    text-align: center;
}

.text-wrapper.tablet{
    display: none;
}


.text-wrapper.mobile{
    display: none;
}

@media only screen and (max-width:768px){
    .bg-image{
        height: 500px;
        background-image: url('/img/coffee.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .bg-container{
        height: 500px;
        background-color: rgba(0, 0, 0, 0.737);
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    .text-wrapper.desktop{
        display: none;
    }
    .text-wrapper.mobile{
        display: none;
    }
    .text-wrapper.tablet{
        display: block;
    }
    .text-wrapper h2{
        font-family: "Pacifico";
        color: #8C703B;
        text-align: center;
    }
}

@media only screen and (max-width:480px){
    .bg-image{
        height: 500px;
        background-image: url('/img/coffee.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
    }

    .bg-container{
        height: 500px;
        background-color: rgba(0, 0, 0, 0.737);
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    .text-wrapper.desktop{
        display: none;
    }
    .text-wrapper.tablet{
        display: none;
    }
    .text-wrapper.mobile{
        display: block;
    }
    .text-wrapper h3{
        font-family: "Pacifico";
        color: #8C703B;
        text-align: center;
    }
}

/*--Products Section--*/
.products{
    margin: 80px auto;
}

.product-wrapper{
    width: 80%;
    margin: 0 auto;
}

.product-wrapper h2{
    text-align: center;
}

.product{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 50px;
}

.product-wrapper ul li{
    list-style: none;
}

.product img{
    width: 350px;   
}

.product figcaption{
    text-align: center;
    color: #8C703B;
    font-size: 20px;
}

@media only screen and (max-width: 768px){
    .product img{
        width: 250px;   
    }
    
}

/*--Employees Section*/
.employees{
    margin: 80px auto;
}

.employee-wrapper{
    width: 90%;
    margin: 0 auto;
}

.employee-wrapper h2{
    text-align: center;
}

.employee-wrapper ul li{
    list-style: none;
}

.employee{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.employee img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 5px 5px #8c703b4f;
}

.employee figcaption{
    text-align: center;
} 

figcaption h3{
    color: #8C703B;
}

figcaption p{
    color: #7c7474 ;
}

@media only screen and (max-width:768px){
    .employee img{
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width: 480px){
    .employee img{
        width: 200px;
        height: 200px;
    }
}


/*--Footer Section--*/
footer{
    background-color: #1c1819;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-wrapper{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer a{
    color:#bbbbbb;
    text-decoration: none;
}

footer h3{
    color: #8C703B;
}

.map img{
    width: 300px;
    height: 200px;
}

#copyright{
    text-align: center;
    padding-top: 50px;
    color: #dddddd;
}

@media only screen and (max-width: 480px){
    footer{
        padding-top:30px;
        padding-bottom: 30px;
    }
    .footer-wrapper{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .pages{
        margin-top: 10px;
    }
    .map{
        margin-top: 10px;
    }
    #copyright{
        padding-top: 10px;
    }
   
    
}
